#wrap{width: 100%;height: 100%;position: relative;}
#main{width: 100%;height: 90%;position: absolute;}
#tab{width: 100%;height: 10%;background: lightblue;border-top: 1px solid lightgray;position: fixed;bottom: 0;}
#tab>ul{width: 100%;height: 100%;}
#tab>ul>li{width: 25%;height: 100%;float: left;text-align: center;}