<div id="mainclassify" >
<a ui-sref='home' href="" class="a1"><img src="{{img1}}"/></a>
<p class="p1"></p>
<p class="p2"><a></a><span ><a ui-sref='.search' href="" ng-click="ishides=1">卫衣</a></span><a></a></p>
<div class="divtop">
	<p>应季必备</p>
	<p>ESSENTIAL SEASONALE</p>
</div>
<div class="divul">
	<ul>
		<li><a><img src="components/classify/list1/list1img/1.jpg"><p>初秋外套</p></a></li>
		<li><a><img src="components/classify/list1/list1img/2.jpg"><p>卫衣</p></a></li>
		<li><a><img src="components/classify/list1/list1img/3.jpg"><p>套装</p></a></li>
		<li><a><img src="components/classify/list1/list1img/4.jpg"><p>风衣</p></a></li>
		<li><a><img src="components/classify/list1/list1img/5.jpg"><p>牛仔外套</p></a></li>
		<li><a><img src="components/classify/list1/list1img/6.jpg"><p>飞行员夹克</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/7.jpg"><p>针织衫</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/8.jpg"><p>衬衫</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/9.jpg"><p>V领上衣</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/10.jpg"><p>T恤</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/11.jpg"><p>长款T恤</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/12.jpg"><p>针织开衫</p></a></li>			
	</ul>
</div>
<div class="clearfix"></div>
<div class="divtop2">
	<p>热卖推荐</p>
	<p>HOT SALES</p>
</div>
<div class="divul">
	<ul>
		<li><a><img src="components/classify/list1/list1img/1.jpg"><p>初秋外套</p></a></li>
		<li><a><img src="components/classify/list1/list1img/2.jpg"><p>卫衣</p></a></li>
		<li><a><img src="components/classify/list1/list1img/3.jpg"><p>套装</p></a></li>
		<li><a><img src="components/classify/list1/list1img/4.jpg"><p>风衣</p></a></li>
		<li><a><img src="components/classify/list1/list1img/5.jpg"><p>牛仔外套</p></a></li>
		<li><a><img src="components/classify/list1/list1img/6.jpg"><p>飞行员夹克</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/7.jpg"><p>针织衫</p></a></li>		
		<li><a><img src="components/classify/list1/list1img/8.jpg"><p>衬衫</p></a></li>			</ul>
</div>
<div class="clearfix"></div>
<div class="divtop3">
	<p>精选单品</p>
	<p>SELECTED SINGLE PRODUCT</p>
</div>
<ul class="ultab">
	<li><a ui-sref='.sortpop' href="">流行</a></li>
	<li><a ui-sref='.sorthot' href="">热销</a></li>
	<li><a ui-sref='.sortnew' href="">上新</a></li>
</ul>
<div class="divui" ui-view></div>
	
</div>