.clearfix{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

#main{background: #eeeeee;padding: 0;margin: 0;}
#mainclassify{background: #fff;overflow: auto;padding: 0;margin: 0;overflow: auto;width: 100%;height: 100%;}
.a1{display:block;width: 100%;height: 2.51rem;border-bottom: 1px solid #fdfdfd;position: fixed;top: 0;left: 0;z-index: 999;}
.a1>img{width: 100%;height:  2.51rem;}
.p1{width: 100%;height:2.5rem;}
.p2{background: #fff;width: 100%;height:2rem;display: flex;align-items: center;}
.p2>a:nth-of-type(1){width: 15%;height: 100%;display: inline-block;vertical-align: top;background: url(../../../img/classify-1.png) no-repeat center;background-size: 50%;}
.p2 span{display: block;width: 70%;height: 60%;background:#f4f4f4 url(../../../img/classify2.jpg) no-repeat 4% center;border-radius: 7px;padding: 0 0 0 7% ;color: #bebebe;font-size: 0.4rem;background-size: 0.6rem;}
.p2 span>a{display: block;width: 100%;height: 100%; color:#bebebe;display: flex;align-items: center;}
.p2>a:nth-of-type(2){width: 15%;height: 100%;display: inline-block;vertical-align: top;background: url(../../../img/classify1.jpg) no-repeat center;background-size: 50%;}
.divtop{background: #fff;width: 100%;height: 2.1rem;}
.divtop p:nth-child(1){width:100% ;height:60%;display: flex;justify-content: center;align-items:center;font-size: 0.7rem;color: #666666;}
.divtop p:nth-child(2){width:100% ;height:40%;text-align: center;color: #d3d3d3;font-size: 0.5rem;}
.divtop2{background: #fff;width: 100%;height: 2.1rem;margin-top: 3%;border-bottom:1px solid #f6f6f6 ;}
.divtop2 p:nth-child(1){width:100% ;height:60%;display: flex;justify-content: center;align-items:center;font-size: 0.7rem;color: #666666;}
.divtop2 p:nth-child(2){width:100% ;height:40%;text-align: center;color: #d3d3d3;font-size: 0.5rem;}
.divtop3{background: #fff;width: 100%;height: 2.1rem;margin-top: 3%;border-bottom:1px solid #f6f6f6 ;}
.divtop3 p:nth-child(1){width:100% ;height:60%;display: flex;justify-content: center;align-items:center;font-size: 0.7rem;color: #666666;}
.divtop3 p:nth-child(2){width:100% ;height:40%;text-align: center;color: #d3d3d3;font-size: 0.5rem;}
.divul{width: 100%;background:#fff;}
.divul ul{width: 100%;margin:0 1% ;}
.divul ul li{width: 21%;float: left; margin-top: 5%;margin-right:4.5%;}
.divul ul li:nth-child(4n){margin-right: 0;}
.divul ul li a {width: 100%;display: block;}
.divul ul li a img{width: 100%;display: block;}
.divul ul li a p{width: 100%;text-align: center;color: #666;background: #fff;}
.ultab{width: 100%;height: 7%;}
.ultab li{width: 33.33%;height: 100%;float: left;}
.ultab li a{width: 100%;height: 100%;display:flex;align-items: center;justify-content: center;}
.ultab li:hover a{color: #ef4562;}
#mbj{position: fixed;right: 10px;bottom: 70px; width: 1.8rem;height: 1.8rem;background:rgba(0,0,0,0.5); black; z-index: 2;background-size: 100% 100%;display: none;border-radius: 50%;text-align: center;line-height:1.8rem;font-size: .9rem;font-weight: bold;}

