<div class="mainclassify" ui-view>
<a ui-sref='home' href="" class="a1"><img src="{{img1}}"/></a>
<p class="p1"></p>
<p class="p2"><a></a><span>卫衣</span><a></a></p>
<div class="divtop">
	<p>全部分类</p>
	<p>ALL CLASSIFICATION</p>
</div>
<div class="listTu">
	<ul>
		<li ng-repeat="a in listtu"><a ui-sref='.list1' href=""><img src="{{a.image}}"/></a></li>
	</ul>
</div>
<div class="clearfix"></div>
<div class="divtop2">
	<p>分类热销</p>
	<p>CATEGORY SALE</p>
</div>
<div class="title1">
	<p>热销女装</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>时髦美裙</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul2"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>精选裤子</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul3"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>百搭鞋品</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul4"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>百搭包配</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul5"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>正品美妆</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul6"><a><img src="{{a.image}}"/></a></li>
</ul>
<div class="title1">
	<p>家居美食</p>
	<a>查看更多&gt;</a>
</div>
<div class="clearfix"></div>
<ul class="listul">
	<li ng-repeat="a in listul7"><a><img src="{{a.image}}"/></a></li>
</ul>
</div>