<div id="home_box" ui-view>
	<div id="home_head"><img src="{{home_head.list[0].image}}" /></div>
	<div id="home_main" >
		<div id="home_search">
			<form action="" method="post">
				<img src="components/home/img/logo.png" alt="" id="logo" />
				<a href="javascript:vido(0)" ui-sref='.search' ng-click="ishides=1">
					<input type="text" value="卫衣" />
				</a>
				<img src="components/home/img/xx.png" alt="" />
			</form>
		</div>
		<div>
			<div id="home_up">
				<a href="{{home_up.list[0].link}}"><img src="{{home_up.list[0].image}}" /></a>
			</div>
			<div id="home_menu">
				<div id="home_menu1">
					<ul>
						<li ng-repeat="item in home_menu.list">
							<a href="{{item.link}}"><img src="{{item.image}}" /></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="home_menu_next" ng-repeat="item in home_menu_next">
				<a href="{{item.originUrl}}">
					<img src="{{item.image}}" />
					<h3>{{item.title}}</h3>
					<p>{{item.butDesc}}</p>
				</a>
				<div class="home_menu_next_2">
					<a href="{{items.h5GoodUrl}}" ng-repeat="items in item.goodsList">
						<img src="{{items.image}}" />
						<h3>{{items.title}}</h3>
						<p>￥{{items.price}}</p>
					</a>
				</div>
			</div>
			<div id="home_more">查看更多</div>
			<div id="home_tab">
				<div ng-click="isClick(moren,0)"><span ng-class="{'changs':ischang==0}">流行</span></div>
				<div ng-click="isClick(zuixin,1)"><span ng-class="{'changs':ischang==1}">新款</span></div>
				<div ng-click="isClick(jingxuan,2)"><span ng-class="{'changs':ischang==2}">精选</span></div>
			</div>
			<div id="home_tab_main">
				<ul>
					<li ng-repeat="item in home_tab_main">
						<a href="{{item.link}}">
							<div class="tab_main_img">
								<div class="leftTop" ng-if="item.lefttop_taglist[0]"><img src="{{item.lefttop_taglist[0].img}}" /></div>
								<div class="leftBottom" ng-if="item.leftbottom_taglist[0]"><img src="{{item.leftbottom_taglist[0]}}" /></div>
								<img src="{{item.show.img}}" />
							</div>
							<h3>{{item.title}}</h3>
							<p><span class="home_price">{{item.price}}</span><span class="home_cfav"><img src="components/home/img/wjx.jpg"/>{{item.cfav}}</span></p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<a href="#home_head" id="mbj"></a>
</div>
