#home_box{width: 100%;height: 100%;position: relative;overflow:auto;}
#home_head{height:2.5rem;width: 100%;position: fixed;top: 0;z-index: 2;}
#home_head>img{width: 100%;height: 100%;}
#home_main{width: 100%;position: absolute;top: 2.5rem;overflow:auto;}
#home_search{width: 100%;height: 1.9rem;}
#home_search>form{width: 100%;height: 100%;}
#home_search>form>img{margin-left:.6rem;width: .7rem;vertical-align: middle;}
#home_search #logo{width: 1.3rem;}
#home_search>form>a{width: 11.3rem;height: 1.2rem;margin:.35rem 0 0 .6rem;display:inline-block;}
#home_search>form>a>input{width: 100%;height: 100%; border: none;border-radius: 5px;outline: none;
	background:#f4f4f4 url("img/search.png")no-repeat .4rem center ;padding-left: 1.2rem;color: #a9a9a9;background-size: .5rem .5rem;}
#home_up{width: 100%;height: 7.7rem;}
#home_up>a{display: block;width: 100%;height: 100%;}
#home_up>a>img{width: 100%;}
#home_menu{background: #eeeeee;padding-bottom: .4rem;}
#home_menu1{padding: .4rem;background: white;overflow: auto;}
#home_menu1>ul{overflow: hidden; overflow-x:scroll;white-space: nowrap;}
#home_menu1>ul>li{margin-right: .4rem;display: inline-block;}
#home_menu1>ul>li>a{display: block;}
#home_menu1>ul>li>a>img{height:3.2rem;}
#home_menu1>ul::-webkit-scrollbar{display: none;}
.home_menu_next{width: 100%;background: #eeeeee;}
.home_menu_next>a{display: block;width: 100%;position: relative;}
.home_menu_next>a>img{width: 100%;}
.home_menu_next>a>h3{color: white;font-size: .9rem; position: absolute;top: 6.7rem;width: 100%;text-align: center;}
.home_menu_next>a>p{color: white;font-size: .6rem; position: absolute;top: 7.9rem;width: 100%;text-align: center;background: url('img/right.png')no-repeat 9.2rem center;}
.home_menu_next_2{padding: .45rem 0 0 .45rem;border-bottom: .45rem solid #eeeeee; background: white;overflow: hidden; overflow-x:scroll;white-space: nowrap;font-size: 0;}
.home_menu_next_2>a{width: 4.3rem;margin-right: .4rem;display: inline-block;}
.home_menu_next_2>a>img{width: 100%;}
.home_menu_next_2>a>h3{font-size: .6rem;color: #3f2a20;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.home_menu_next_2>a>p{color: #f14a6b;font-size: .6rem;margin-bottom: .2rem;}
.home_menu_next_2::-webkit-scrollbar{display: none;}
#home_main>div:nth-child(6) .home_menu_next_2{border-bottom: 1px solid #eeeeee;}
#home_more{height: 2rem;line-height: 1.9rem;color: #ff3366;text-align: center;background: url("img/right2.png")no-repeat 9.4rem center;border-bottom: .1rem solid #eeeeee;}
#home_tab{height: 1.7rem;z-index: 100;background: white;width: 100%;}
.dw{position: fixed;top: 2.4rem;}
#home_tab>div{height: 100%;width: 33.33%;line-height: 1.7rem;text-align: center;float: left;}
#home_tab>div>span{padding: .1rem .1rem .2rem .1rem;color: #666666;}
#home_tab>div .changs{border-bottom: 2px solid #ff3366;color: #ff3366;}
#home_tab_main>ul>li{width: 50%;float: left;background: white;}
#home_tab_main>ul>li>a{width: 96%;margin:0 auto .7rem;display: block;}
.tab_main_img{width: 100%;position:relative;height: 10rem;}
.tab_main_img>img{width: 100%;height: 10rem;}
.leftTop{position: absolute;top: 0;}
.leftTop>img{width:1.9rem ;margin-left: .2rem;}
.leftBottom{position: absolute;bottom: -0.1rem;}
.leftBottom>img{width:1.5rem ;margin-left: .2rem;}
#home_tab_main>ul>li>a>h3{width: 100%;margin-top: .2rem;font-size: .6rem;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;color: #666666;font-weight: normal;}
#home_tab_main>ul>li>a>p{width: 100%;text-align: center;}
.home_price{color:#ff3395 ;margin-right: .5rem;}
.home_cfav{color: #9999a5;}
.home_cfav>img{margin-right: .2rem;}
#mbj{position: fixed;right: 10px;bottom: 70px; width: 1.8rem;height: 1.8rem;background:url("img/mbj.png")no-repeat; black; z-index: 2;background-size: 100% 100%;display: none;}
